body {
    margin:0;
    padding:0;
    
}

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
header {
    width:100%;
    height:auto;
    padding:1rem;
    align-items: center;
    justify-content: space-between;
    
}
header nav {
    width:auto;
    height:auto;
    align-items: center;
}
header nav .btn-link {
    text-decoration: none;
    }
header nav .btn-link:hover {
    text-decoration: underline;
    }
main {
    margin-top:-100px;
    width:100%;
    height:auto;
    align-items: center;
    padding:10rem;
}
main h1 {
    font-size:2.5rem;
font-weight:300;
line-height: 1.2;
font-weight: 500;
}
main p {
    width:50%;
    font-size:16px;
    align-items: center;
}
main section {
    width:90%;
    height:auto;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-bottom:-100px;
}
main p {display:flex;
    width:100%;
    height:auto;
    justify-content: center;
    margin-bottom:0;
}
.card-text 
{
    width:200px;
justify-content: center;
margin-bottom:0px;
}
main section .card {
    margin-top:40px;
width:280px;
margin-right:10px;
}
main section .card-header {
    justify-content: center;
}
main section .card-body {
    align-items: center;
}
main section .card-body h1 span {
    color:grey;
    font-size:30px;
}
.btn-lg {
    width:95%;
}
footer {
    width:47%;
    margin:auto;
    justify-content: flex-start;
    height:auto;
gap:150px;
padding-top:20px;
}

footer h5 {font-size:17px;}
.flex .column a {
    font-size: 14px;
color:grey;}
.flex .column a:hover {
    text-decoration: underline;
}